In [1]:
import pandas as pd
import json

In [2]:
elec16_file = "Data/elec16v2-Copy1.csv"
elec20_file = "Data/elec20v2-Copy1.csv"

In [3]:
election2020_data = pd.read_csv(elec20_file, low_memory=False)
election2016_data = pd.read_csv(elec16_file, low_memory=False)

In [4]:
states_file = "static/data/US_States.csv"
states_abbv= pd.read_csv(states_file,low_memory=False)

In [5]:
states_abbv.head(3)

  properties.name state_abbv
0         Alabama         AL
1          Alaska         AK
2  American Samoa         AS

## Year 2020 Data Cleanup

In [6]:
election2020_data.head(2)

,year,office,party_simple,mode,votes,countyname,countyfips,candidatename,state_abbv,statefips,combinedfips
0,2020,US PRESIDENT,DEMOCRAT,ELECTION DAY,239,NaN,0,JOSEPH R BIDEN,AK,2,200000
1,2020,US PRESIDENT,REPUBLICAN,ELECTION DAY,466,NaN,0,DONALD J TRUMP,AK,2,200000

In [7]:
#Checking the row count on the data
election2020_data.count()

year             477324
office           477324
party_simple     477324
mode             477324
votes            477324
countyname       476158
countyfips       477324
candidatename    477324
state_abbv       477324
statefips        477324
combinedfips     477324
dtype: int64

In [8]:
#Cleaning up 2020 to remove the NAs from the county name
election2020_data_clean = election2020_data.query("countyfips != 0")

In [9]:
election2020_data_clean.count()

year             476158
office           476158
party_simple     476158
mode             476158
votes            476158
countyname       476158
countyfips       476158
candidatename    476158
state_abbv       476158
statefips        476158
combinedfips     476158
dtype: int64

In [10]:
election2020_data_clean["mode"].unique()

array(['TOTAL', 'ABSENTEE', 'PROVISIONAL', 'EARLY', 'ELECTION DAY',
       'ADVANCED VOTING', 'PRES', 'EARLY VOTING', '2ND ABSENTEE',
       'UOCAVA', 'MAIL', 'HAND COUNTED', 'ABSENTEE BY MAIL', 'ONE STOP',
       'MAIL BALLOTS', 'IN PERSON ABSENTEE', 'FAILSAFE',
       'FAILSAFE PROVISIONAL'], dtype=object)

In [11]:
#YEAR 2020 - USING THE CLEANED DATAFRAME TO SEPARATE DEMOCRATES FROM REPUBLICANS

rep_2020 = election2020_data_clean.loc[election2020_data_clean["party_simple"] == "REPUBLICAN",:]
demo_2020 = election2020_data_clean.loc[election2020_data_clean["party_simple"] == "DEMOCRAT",:]

In [12]:
grouped_rep_data_2020 = rep_2020.groupby(["state_abbv"])
grouped_rep_data_2020

In [13]:
rep_2020_votes_df= pd.DataFrame(grouped_rep_data_2020["votes"].sum())
rep_2020_votes_df.head(2) #total of 49 states

              votes
state_abbv
AL          1441170
AR           760647

In [14]:
rep_2020_votes_df=rep_2020_votes_df.rename(columns={"votes":"RepTotalVotes"})

rep_2020_votes_df= rep_2020_votes_df.reset_index(drop=False)
rep_2020_votes_df.head(2)

  state_abbv  RepTotalVotes
0         AL        1441170
1         AR         760647

In [15]:
grouped_demo_data_2020 = demo_2020.groupby(["state_abbv"])
grouped_demo_data_2020

In [16]:
demo_2020_votes_df= pd.DataFrame(grouped_demo_data_2020["votes"].sum())
demo_2020_votes_df.head(2) #total of 47 states

             votes
state_abbv
AL          849624
AR          423932

In [17]:
demo_2020_votes_df=demo_2020_votes_df.rename(columns={"votes":"DemoTotalVotes"})
#demo_2020_votes_take2=demo_2020_votes_df.rename(columns={"votes":"Demo 2020"})
demo_2020_votes_df= demo_2020_votes_df.reset_index(drop=False)
demo_2020_votes_df.head(2)

  state_abbv  DemoTotalVotes
0         AL          849624
1         AR          423932

#TABLING THE MODE FOR NOW.. NOT CLEANING IT YET
#value_count only gives the number of row entry, but i need the total votes for each category

grouped_rep_data_2020["mode"].value_counts() #total of 101

In [18]:
len(rep_2020_votes_df)

49

In [19]:
len(demo_2020_votes_df)

47

In [20]:
# votes_2020_take2 = rep_2020_votes_take2.merge(demo_2020_votes_take2, on="state_abbv",how="left")
# votes_2020_take2.head(2)

In [21]:
votes_2020 = rep_2020_votes_df.merge(demo_2020_votes_df, on="state_abbv",how="left")
votes_2020.head(2)

  state_abbv  RepTotalVotes  DemoTotalVotes
0         AL        1441170        849624.0
1         AR         760647        423932.0

In [22]:
final_votes_2020 = votes_2020.merge(states_abbv, on="state_abbv",how="left")
final_votes_2020

   state_abbv  RepTotalVotes  DemoTotalVotes       properties.name
0          AL        1441170        849624.0               Alabama
1          AR         760647        423932.0              Arkansas
2          AZ        1661686       1672143.0               Arizona
3          CA        6006518      11110639.0            California
4          CO        1364607       1804352.0              Colorado
5          CT         714697       1080680.0           Connecticut
6          DC          18586        317323.0  District of Columbia
7          DE         200603        296268.0              Delaware
8          FL        5668716       5297036.0               Florida
9          GA        2461837       2474507.0               Georgia
10         HI         196864        366130.0                Hawaii
11         IA         897672        759061.0                  Iowa
12         ID         554119        287021.0                 Idaho
13         IL        2446891       3471915.0              Illinois
14         KS         771406        570323.0                Kansas
15         KY        1326418        772285.0              Kentucky
16         LA        1255776        856034.0             Louisiana
17         MA        1167202       2382202.0         Massachusetts
18         MD         976414       1985023.0              Maryland
19         ME         360737        435072.0                 Maine
20         MI        2649234       2801469.0              Michigan
21         MN        1484065             NaN             Minnesota
22         MO        1718736       1253014.0              Missouri
23         MS         756764        539398.0           Mississippi
24         MT         343602        244786.0               Montana
25         NC        2758773       2684292.0        North Carolina
26         ND         235595             NaN          North Dakota
27         NE         556846        374583.0              Nebraska
28         NH         365660        424937.0         New Hampshire
29         NJ        1883313       2608400.0            New Jersey
30         NM         401860        501552.0            New Mexico
31         NV         669480        703186.0                Nevada
32         NY        2955873       4858440.0              New York
33         OH        3154834       2679165.0                  Ohio
34         OK        1020280        503890.0              Oklahoma
35         OR         958448       1340383.0                Oregon
36         PA        3379320       3457343.0          Pennsylvania
37         RI         199837        306210.0          Rhode Island
38         SC        1385103       1091541.0        South Carolina
39         SD         261043        150471.0          South Dakota
40         TN        1852475       1143711.0             Tennessee
41         TX        5889022       5257519.0                 Texas
42         UT         865139        560282.0                  Utah
43         VA        1962430       2413568.0              Virginia
44         VT         112704        242820.0               Vermont
45         WA        1584651       2369612.0            Washington
46         WI        1610065       1630673.0             Wisconsin
47         WV         545382        235984.0         West Virginia
48         WY         193559         73491.0               Wyoming

In [23]:
votes_2020["state_abbv"].dtype

dtype('O')

In [24]:
votes_2020=votes_2020.fillna(0)
votes_2020.head(2)

  state_abbv  RepTotalVotes  DemoTotalVotes
0         AL        1441170        849624.0
1         AR         760647        423932.0

## Year 2016 Data Cleanup

In [25]:
election2016_data.head(2)

,year,office,party,mode,votes,countyname,countyfips,candidatename,state_abbv,statefips,combinedfips
0,2016,US President,democratic,election day,135,Autauga County,1001,Hillary Clinton,AL,1,101001
1,2016,US President,republican,election day,218,Autauga County,1001,Donald Trump,AL,1,101001

In [26]:
#Checking the row count on the data
election2016_data.count()

year             460232
office           460232
party            460232
mode             460232
votes            460232
countyname       458512
countyfips       460232
candidatename    460232
state_abbv       460232
statefips        460232
combinedfips     460232
dtype: int64

In [27]:
election2016_data_clean = election2016_data.dropna(how="any")

In [28]:
election2016_data_clean.count()

year             458512
office           458512
party            458512
mode             458512
votes            458512
countyname       458512
countyfips       458512
candidatename    458512
state_abbv       458512
statefips        458512
combinedfips     458512
dtype: int64

In [29]:
#YEAR 2016 - USING THE CLEANED DATAFRAME TO SEPARATE DEMOCRATES FROM REPUBLICANS

rep_2016 = election2016_data_clean.loc[election2016_data_clean["party"] == "republican",:]
demo_2016 = election2016_data_clean.loc[election2016_data_clean["party"] == "democratic",:]

In [30]:
#NEED TO DO A GROUP BY STATE FOR EACH PARTY

grouped_rep_data_2016 = rep_2016.groupby(["state_abbv"])
rep_2016_votes_df= pd.DataFrame(grouped_rep_data_2016["votes"].sum())

grouped_demo_data_2016 = demo_2016.groupby(["state_abbv"])
demo_2016_votes_df= pd.DataFrame(grouped_demo_data_2016["votes"].sum())

In [31]:
rep_2016_votes_df=rep_2016_votes_df.rename(columns={"votes":"RepTotalVotes"})

rep_2016_votes_df= rep_2016_votes_df.reset_index(drop=False)


rep_2016_votes_df.head(2)

  state_abbv  RepTotalVotes
0         AL        1966420
1         AR         684872

In [32]:
demo_2016_votes_df=demo_2016_votes_df.rename(columns={"votes":"DemoTotalVotes"})

demo_2016_votes_df= demo_2016_votes_df.reset_index(drop=False)


demo_2016_votes_df.head(2)

  state_abbv  DemoTotalVotes
0         AL         1240976
1         AR          380494

In [33]:
len(demo_2016_votes_df)

47

In [34]:
len(rep_2016_votes_df)

49

In [35]:
votes_2016 = rep_2016_votes_df.merge(demo_2016_votes_df, on="state_abbv",how="left")
votes_2016= votes_2016.fillna(0)
votes_2016.head(2)

  state_abbv  RepTotalVotes  DemoTotalVotes
0         AL        1966420       1240976.0
1         AR         684872        380494.0

In [36]:
final_votes_2016 = votes_2016.merge(states_abbv, on="state_abbv",how="left")
final_votes_2016

   state_abbv  RepTotalVotes  DemoTotalVotes       properties.name
0          AL        1966420       1240976.0               Alabama
1          AR         684872        380494.0              Arkansas
2          AZ        1252389       1161165.0               Arizona
3          CA        4483799       8753777.0            California
4          CO        1202495       1338870.0              Colorado
5          CT         673215        897572.0           Connecticut
6          DC          12723        282830.0  District of Columbia
7          DE         185127        235603.0              Delaware
8          FL        4617879       4504974.0               Florida
9          GA           5494          1434.0               Georgia
10         HI         128847        266891.0                Hawaii
11         IA         800983        653669.0                  Iowa
12         ID         409055        189765.0                 Idaho
13         IL        2120760       3011248.0              Illinois
14         IN        1689973       1108575.0               Indiana
15         KS         671020        427009.0                Kansas
16         KY         247989        242479.0              Kentucky
17         LA        1178638        780154.0             Louisiana
18         MA        1090893       1995196.0         Massachusetts
19         MD         943428       1678006.0              Maryland
20         ME         333678        353649.0                 Maine
21         MI        2279543       2268839.0              Michigan
22         MN        1322951             0.0             Minnesota
23         MO        1569857        973333.0              Missouri
24         MS         700714        485131.0           Mississippi
25         MT         279240        177709.0               Montana
26         NC        2362631       2189316.0        North Carolina
27         ND         216794         93758.0          North Dakota
28         NE         496142        284527.0              Nebraska
29         NH         264419        239823.0         New Hampshire
30         NJ        1321967       1766985.0            New Jersey
31         NM         319667        385234.0            New Mexico
32         NV         511800        539132.0                Nevada
33         NY        2520461       4375059.0              New York
34         OH        2841005       2394164.0                  Ohio
35         OK         949136        420375.0              Oklahoma
36         OR         775865             0.0                Oregon
37         PA        2970378       2925758.0          Pennsylvania
38         RI         180490        251888.0          Rhode Island
39         SC        1685338       1354388.0        South Carolina
40         SD         227460        114938.0          South Dakota
41         TN        1522925        870695.0             Tennessee
42         TX        4684288       3877626.0                 Texas
43         UT         515869        311164.0                  Utah
44         VA        1769443       1981473.0              Virginia
45         WA        1003473       1023281.0            Washington
46         WI        1404000       1381823.0             Wisconsin
47         WV         489351        188785.0         West Virginia
48         WY         174419         55973.0               Wyoming

In [37]:
#Converting US State Json to Dataframe, then merge with voting data

with open('static/data/us-states_2020.json','r') as f:
    data = json.loads(f.read())
    
#Flatten data    
converted_json = pd.json_normalize(data, record_path=['features'])
converted_json

,type,id,properties.name,properties.density,geometry.type,geometry.coordinates
0,Feature,01,Alabama,94.650,Polygon,"[[[-87.359296, 35.00118], [-85.606675, 34.9847..."
1,Feature,02,Alaska,1.264,MultiPolygon,"[[[[-131.602021, 55.117982], [-131.569159, 55...."
2,Feature,04,Arizona,57.050,Polygon,"[[[-109.042503, 37.000263], [-109.04798, 31.33..."
3,Feature,05,Arkansas,56.430,Polygon,"[[[-94.473842, 36.501861], [-90.152536, 36.496..."
4,Feature,06,California,241.700,Polygon,"[[[-123.233256, 42.006186], [-122.378853, 42.0..."
5,Feature,08,Colorado,49.330,Polygon,"[[[-107.919731, 41.003906], [-105.728954, 40.9..."
6,Feature,09,Connecticut,739.100,Polygon,"[[[-73.053528, 42.039048], [-71.799309, 42.022..."
7,Feature,10,Delaware,464.300,Polygon,"[[[-75.414089, 39.804456], [-75.507197, 39.683..."
8,Feature,11,District of Columbia,10065.000,Polygon,"[[[-77.035264, 38.993869], [-76.909294, 38.895..."
9,Feature,12,Florida,353.400,Polygon,"[[[-85.497137, 30.997536], [-85.004212, 31.003..."
10,Feature,13,Georgia,169.500,Polygon,"[[[-83.109191, 35.00118], [-83.322791, 34.7875..."
11,Feature,15,Hawaii,214.100,MultiPolygon,"[[[[-155.634835, 18.948267], [-155.881297, 19...."
12,Feature,16,Idaho,19.150,Polygon,"[[[-116.04751, 49.000239], [-116.04751, 47.976..."
13,Feature,17,Illinois,231.500,Polygon,"[[[-90.639984, 42.510065], [-88.788778, 42.493..."
14,Feature,18,Indiana,181.700,Polygon,"[[[-85.990061, 41.759724], [-84.807042, 41.759..."
15,Feature,19,Iowa,54.810,Polygon,"[[[-91.368417, 43.501391], [-91.215062, 43.501..."
16,Feature,20,Kansas,35.090,Polygon,"[[[-101.90605, 40.001626], [-95.306337, 40.001..."
17,Feature,21,Kentucky,110.000,Polygon,"[[[-83.903347, 38.769315], [-83.678792, 38.632..."
18,Feature,22,Louisiana,105.000,Polygon,"[[[-93.608485, 33.018527], [-91.16577, 33.0020..."
19,Feature,23,Maine,43.040,Polygon,"[[[-70.703921, 43.057759], [-70.824413, 43.128..."
20,Feature,24,Maryland,596.300,MultiPolygon,"[[[[-75.994645, 37.95325], [-76.016553, 37.953..."
21,Feature,25,Massachusetts,840.200,Polygon,"[[[-70.917521, 42.887974], [-70.818936, 42.871..."
22,Feature,26,Michigan,173.900,MultiPolygon,"[[[[-83.454238, 41.732339], [-84.807042, 41.69..."
23,Feature,27,Minnesota,67.140,Polygon,"[[[-92.014696, 46.705401], [-92.091373, 46.749..."
24,Feature,28,Mississippi,63.500,Polygon,"[[[-88.471115, 34.995703], [-88.202745, 34.995..."
25,Feature,29,Missouri,87.260,Polygon,"[[[-91.833957, 40.609566], [-91.729895, 40.615..."
26,Feature,30,Montana,6.858,Polygon,"[[[-104.047534, 49.000239], [-104.042057, 47.8..."
27,Feature,31,Nebraska,23.970,Polygon,"[[[-103.324578, 43.002989], [-101.626726, 42.9..."
28,Feature,32,Nevada,24.800,Polygon,"[[[-117.027882, 42.000709], [-114.04295, 41.99..."
29,Feature,33,New Hampshire,147.000,Polygon,"[[[-71.08183, 45.303304], [-71.032537, 44.6570..."
30,Feature,34,New Jersey,1189.000,Polygon,"[[[-74.236547, 41.14083], [-73.902454, 40.9984..."
31,Feature,35,New Mexico,17.160,Polygon,"[[[-107.421329, 37.000263], [-106.868158, 36.9..."
32,Feature,36,New York,412.300,Polygon,"[[[-73.343806, 45.013027], [-73.332852, 44.804..."
33,Feature,37,North Carolina,198.200,Polygon,"[[[-80.978661, 36.562108], [-80.294043, 36.545..."
34,Feature,38,North Dakota,9.916,Polygon,"[[[-97.228743, 49.000239], [-97.097296, 48.682..."
35,Feature,39,Ohio,281.900,Polygon,"[[[-80.518598, 41.978802], [-80.518598, 40.636..."
36,Feature,40,Oklahoma,55.220,Polygon,"[[[-100.087706, 37.000263], [-94.616242, 37.00..."
37,Feature,41,Oregon,40.330,Polygon,"[[[-123.211348, 46.174138], [-123.11824, 46.18..."
38,Feature,42,Pennsylvania,284.300,Polygon,"[[[-79.76278, 42.252649], [-79.76278, 42.00070..."
39,Feature,44,Rhode Island,1006.000,MultiPolygon,"[[[[-71.196845, 41.67757], [-71.120168, 41.496..."
40,Feature,45,South Carolina,155.400,Polygon,"[[[-82.764143, 35.066903], [-82.550543, 35.160..."
41,Feature,46,South Dakota,98.070,Polygon,"[[[-104.047534, 45.944106], [-96.560556, 45.93..."
42,Feature,47,Tennessee,88.080,Polygon,"[[[-88.054868, 36.496384], [-88.071299, 36.677..."
43,Feature,48,Texas,98.070,Polygon,"[[[-101.812942, 36.501861], [-100.000075, 36.5..."
44,Feature,49,Utah,34.300,Polygon,"[[[-112.164359, 41.995232], [-111.047063, 42.0..."
45,Feature,50,Vermont,67.730,Polygon,"[[[-71.503554, 45.013027], [-71.4926, 44.91444..."
46,Feature,51,Virginia,204.500,MultiPolygon,"[[[[-75.397659, 38.013497], [-75.244304, 38.02..."
47,Feature,53,Washington,102.600,MultiPolygon,"[[[[-117.033359, 49.000239], [-117.044313, 47...."
48,Feature,54,West Virginia,77.060,Polygon,"[[[-80.518598, 40.636951], [-80.518598, 39.722..."
49,Feature,55,Wisconsin,105.200,Polygon,"[[[-90.415429, 46.568478], [-90.229213, 46.508..."
50,Feature,56,Wyoming,5.851,Polygon,"[[[-109.080842, 45.002073], [-105.91517, 45.00..."
51,Feature,72,Puerto Rico,1082.000,Polygon,"[[[-66.448338, 17.984326], [-66.771478, 18.006..."

In [38]:
#Join existing GeoCoordinates to 2016 Data
votes_2016_geojson = converted_json.merge(final_votes_2016, on="properties.name",how="left")
votes_2016_geojson=votes_2016_geojson.rename(columns={"state_abbv":"properties.state_abbv",
                                                    "RepTotalVotes":"properties.RepTotalVotes",
                                                   "DemoTotalVotes":"properties.DemoTotalVotes"})
votes_2016_geojson_final= votes_2016_geojson[["type","id","properties.name","properties.state_abbv",
                                        "properties.RepTotalVotes","properties.DemoTotalVotes","properties.density",
                                       "geometry.type","geometry.coordinates"]]
#votes_2016_geojson_final

In [39]:
#Join existing GeoCoordinates to 2020 Data
votes_2020_geojson = converted_json.merge(final_votes_2020, on="properties.name",how="left")

votes_2020_geojson=votes_2020_geojson.rename(columns={"state_abbv":"properties.state_abbv",
                                                    "RepTotalVotes":"properties.RepTotalVotes",
                                                   "DemoTotalVotes":"properties.DemoTotalVotes"})
votes_2020_geojson_final= votes_2020_geojson[["type","id","properties.name","properties.state_abbv",
                                        "properties.RepTotalVotes","properties.DemoTotalVotes","properties.density",
                                       "geometry.type","geometry.coordinates"]]

votes_2020_geojson_final

,type,id,properties.name,properties.state_abbv,properties.RepTotalVotes,properties.DemoTotalVotes,properties.density,geometry.type,geometry.coordinates
0,Feature,01,Alabama,AL,1441170.0,849624.0,94.650,Polygon,"[[[-87.359296, 35.00118], [-85.606675, 34.9847..."
1,Feature,02,Alaska,NaN,NaN,NaN,1.264,MultiPolygon,"[[[[-131.602021, 55.117982], [-131.569159, 55...."
2,Feature,04,Arizona,AZ,1661686.0,1672143.0,57.050,Polygon,"[[[-109.042503, 37.000263], [-109.04798, 31.33..."
3,Feature,05,Arkansas,AR,760647.0,423932.0,56.430,Polygon,"[[[-94.473842, 36.501861], [-90.152536, 36.496..."
4,Feature,06,California,CA,6006518.0,11110639.0,241.700,Polygon,"[[[-123.233256, 42.006186], [-122.378853, 42.0..."
5,Feature,08,Colorado,CO,1364607.0,1804352.0,49.330,Polygon,"[[[-107.919731, 41.003906], [-105.728954, 40.9..."
6,Feature,09,Connecticut,CT,714697.0,1080680.0,739.100,Polygon,"[[[-73.053528, 42.039048], [-71.799309, 42.022..."
7,Feature,10,Delaware,DE,200603.0,296268.0,464.300,Polygon,"[[[-75.414089, 39.804456], [-75.507197, 39.683..."
8,Feature,11,District of Columbia,DC,18586.0,317323.0,10065.000,Polygon,"[[[-77.035264, 38.993869], [-76.909294, 38.895..."
9,Feature,12,Florida,FL,5668716.0,5297036.0,353.400,Polygon,"[[[-85.497137, 30.997536], [-85.004212, 31.003..."
10,Feature,13,Georgia,GA,2461837.0,2474507.0,169.500,Polygon,"[[[-83.109191, 35.00118], [-83.322791, 34.7875..."
11,Feature,15,Hawaii,HI,196864.0,366130.0,214.100,MultiPolygon,"[[[[-155.634835, 18.948267], [-155.881297, 19...."
12,Feature,16,Idaho,ID,554119.0,287021.0,19.150,Polygon,"[[[-116.04751, 49.000239], [-116.04751, 47.976..."
13,Feature,17,Illinois,IL,2446891.0,3471915.0,231.500,Polygon,"[[[-90.639984, 42.510065], [-88.788778, 42.493..."
14,Feature,18,Indiana,NaN,NaN,NaN,181.700,Polygon,"[[[-85.990061, 41.759724], [-84.807042, 41.759..."
15,Feature,19,Iowa,IA,897672.0,759061.0,54.810,Polygon,"[[[-91.368417, 43.501391], [-91.215062, 43.501..."
16,Feature,20,Kansas,KS,771406.0,570323.0,35.090,Polygon,"[[[-101.90605, 40.001626], [-95.306337, 40.001..."
17,Feature,21,Kentucky,KY,1326418.0,772285.0,110.000,Polygon,"[[[-83.903347, 38.769315], [-83.678792, 38.632..."
18,Feature,22,Louisiana,LA,1255776.0,856034.0,105.000,Polygon,"[[[-93.608485, 33.018527], [-91.16577, 33.0020..."
19,Feature,23,Maine,ME,360737.0,435072.0,43.040,Polygon,"[[[-70.703921, 43.057759], [-70.824413, 43.128..."
20,Feature,24,Maryland,MD,976414.0,1985023.0,596.300,MultiPolygon,"[[[[-75.994645, 37.95325], [-76.016553, 37.953..."
21,Feature,25,Massachusetts,MA,1167202.0,2382202.0,840.200,Polygon,"[[[-70.917521, 42.887974], [-70.818936, 42.871..."
22,Feature,26,Michigan,MI,2649234.0,2801469.0,173.900,MultiPolygon,"[[[[-83.454238, 41.732339], [-84.807042, 41.69..."
23,Feature,27,Minnesota,MN,1484065.0,NaN,67.140,Polygon,"[[[-92.014696, 46.705401], [-92.091373, 46.749..."
24,Feature,28,Mississippi,MS,756764.0,539398.0,63.500,Polygon,"[[[-88.471115, 34.995703], [-88.202745, 34.995..."
25,Feature,29,Missouri,MO,1718736.0,1253014.0,87.260,Polygon,"[[[-91.833957, 40.609566], [-91.729895, 40.615..."
26,Feature,30,Montana,MT,343602.0,244786.0,6.858,Polygon,"[[[-104.047534, 49.000239], [-104.042057, 47.8..."
27,Feature,31,Nebraska,NE,556846.0,374583.0,23.970,Polygon,"[[[-103.324578, 43.002989], [-101.626726, 42.9..."
28,Feature,32,Nevada,NV,669480.0,703186.0,24.800,Polygon,"[[[-117.027882, 42.000709], [-114.04295, 41.99..."
29,Feature,33,New Hampshire,NH,365660.0,424937.0,147.000,Polygon,"[[[-71.08183, 45.303304], [-71.032537, 44.6570..."
30,Feature,34,New Jersey,NJ,1883313.0,2608400.0,1189.000,Polygon,"[[[-74.236547, 41.14083], [-73.902454, 40.9984..."
31,Feature,35,New Mexico,NM,401860.0,501552.0,17.160,Polygon,"[[[-107.421329, 37.000263], [-106.868158, 36.9..."
32,Feature,36,New York,NY,2955873.0,4858440.0,412.300,Polygon,"[[[-73.343806, 45.013027], [-73.332852, 44.804..."
33,Feature,37,North Carolina,NC,2758773.0,2684292.0,198.200,Polygon,"[[[-80.978661, 36.562108], [-80.294043, 36.545..."
34,Feature,38,North Dakota,ND,235595.0,NaN,9.916,Polygon,"[[[-97.228743, 49.000239], [-97.097296, 48.682..."
35,Feature,39,Ohio,OH,3154834.0,2679165.0,281.900,Polygon,"[[[-80.518598, 41.978802], [-80.518598, 40.636..."
36,Feature,40,Oklahoma,OK,1020280.0,503890.0,55.220,Polygon,"[[[-100.087706, 37.000263], [-94.616242, 37.00..."
37,Feature,41,Oregon,OR,958448.0,1340383.0,40.330,Polygon,"[[[-123.211348, 46.174138], [-123.11824, 46.18..."
38,Feature,42,Pennsylvania,PA,3379320.0,3457343.0,284.300,Polygon,"[[[-79.76278, 42.252649], [-79.76278, 42.00070..."
39,Feature,44,Rhode Island,NaN,NaN,NaN,1006.000,MultiPolygon,"[[[[-71.196845, 41.67757], [-71.120168, 41.496..."
40,Feature,45,South Carolina,SC,1385103.0,1091541.0,155.400,Polygon,"[[[-82.764143, 35.066903], [-82.550543, 35.160..."
41,Feature,46,South Dakota,SD,261043.0,150471.0,98.070,Polygon,"[[[-104.047534, 45.944106], [-96.560556, 45.93..."
42,Feature,47,Tennessee,TN,1852475.0,1143711.0,88.080,Polygon,"[[[-88.054868, 36.496384], [-88.071299, 36.677..."
43,Feature,48,Texas,TX,5889022.0,5257519.0,98.070,Polygon,"[[[-101.812942, 36.501861], [-100.000075, 36.5..."
44,Feature,49,Utah,UT,865139.0,560282.0,34.300,Polygon,"[[[-112.164359, 41.995232], [-111.047063, 42.0..."
45,Feature,50,Vermont,VT,112704.0,242820.0,67.730,Polygon,"[[[-71.503554, 45.013027], [-71.4926, 44.91444..."
46,Feature,51,Virginia,VA,1962430.0,2413568.0,204.500,MultiPolygon,"[[[[-75.397659, 38.013497], [-75.244304, 38.02..."
47,Feature,53,Washington,WA,1584651.0,2369612.0,102.600,MultiPolygon,"[[[[-117.033359, 49.000239], [-117.044313, 47...."
48,Feature,54,West Virginia,WV,545382.0,235984.0,77.060,Polygon,"[[[-80.518598, 40.636951], [-80.518598, 39.722..."
49,Feature,55,Wisconsin,WI,1610065.0,1630673.0,105.200,Polygon,"[[[-90.415429, 46.568478], [-90.229213, 46.508..."
50,Feature,56,Wyoming,WY,193559.0,73491.0,5.851,Polygon,"[[[-109.080842, 45.002073], [-105.91517, 45.00..."
51,Feature,72,Puerto Rico,NaN,NaN,NaN,1082.000,Polygon,"[[[-66.448338, 17.984326], [-66.771478, 18.006..."

In [41]:
#Simplier approach
def df_to_formatted_json(df, sep="."):
    """
    The opposite of json_normalize
    """
    result = []
    for idx, row in df.iterrows():
        parsed_row = {}
        for col_label,v in row.items():
            keys = col_label.split(".")

            current = parsed_row
            for i, k in enumerate(keys):
                if i==len(keys)-1:
                    current[k] = v
                else:
                    if k not in current.keys():
                        current[k] = {}
                    current = current[k]
        # save
        result.append(parsed_row)
    return result

In [42]:
geo2016= df_to_formatted_json(votes_2016_geojson_final,sep=".")

In [43]:
geo2020= df_to_formatted_json(votes_2020_geojson_final,sep=".")

In [44]:
#Creating the GeoJson for Year 2020;Variable assigned updated in VS code

geojson_2020 = open("static/data/geojson_2020_js.js", "w")
geojson_2020.write(str(geo2020))
geojson_2020.close()

In [45]:
#Creating the GeoJson for Year 2016;Variable assigned updated in VS code
geojson_2016 = open("static/data/geojson_2016_js.js", "w")
geojson_2016.write(str(geo2016))
geojson_2016.close()